
"1.5" 
3104836252 
(((NAME |toolkit| NIL) 3084463591)) 
#1=(GIVEN-SETS #2=(#3=(NAME ID NIL)))
#4=(DEFINITION #5=(NAME OID NIL) #6=(#7=(NAME |\\LEVEL| NIL)) #8=(CROSS-PRODUCT #9=(#10=(REF NIL |\\LEVEL| NIL NIL NIL) #11=(REF NIL ID NIL NIL NIL))))
#12=(THEOREM #13=(NAME |OIDtype| NIL) #14=(#15=(NAME C NIL)) #16=(HEURISTIC NIL |grule|) #17=(REL-CHAIN #18=(REF NIL OID NIL #19=(#20=(REF NIL C NIL NIL NIL)) NIL) #21=(#22=(REL-PART #23=(REF NIL |&epsilon| NIL NIL NIL) #24=(REF NIL |&pset| NIL #25=(#26=(CROSS-PRODUCT #27=(#20# #11#))) NIL)))) NIL)
#28=(THEOREM #29=(NAME |OIDfirst| NIL) #6# #30=(HEURISTIC NIL |rule|) #31=(BINDER FORALL #32=(SCHEMA-TEXT #33=(#34=(VAR-DECL #35=(#36=(NAME |o| NIL)) #37=(REF NIL OID NIL #38=(#10#) NIL))) NIL) #39=(REL-CHAIN #40=(SELECTION #41=(REF NIL |o| NIL NIL NIL) #42=(CONSTANT 1)) #43=(#44=(REL-PART #23# #10#)))) NIL)
#45=(THEOREM #46=(NAME |OIDsecond| NIL) #14# #30# #47=(BINDER FORALL #48=(SCHEMA-TEXT #49=(#50=(VAR-DECL #35# #18#)) NIL) #51=(REL-CHAIN #52=(SELECTION #41# #53=(CONSTANT 2)) #54=(#55=(REL-PART #23# #11#)))) NIL)
